
@use '../../sass/utils/colors.scss';

.category-menu {
  margin-bottom: 10px;
  overflow: hidden;
  transition: height 0.3s ease;
  height: 38px;
  transition: 300ms;
  overflow: hidden;
  border-radius: 4px;

  &:hover {
    background-color: colors.$dark-borders;
    .category-menu_header {
      opacity: 1;
    }
  }

  &.active {
    height: 200px;
    background-color: colors.$dark-borders;

    .category-menu_header {
      opacity: 1;
    }
  }

  .category-menu_header {
    height: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    opacity: 0.6;

    img {
      height: 20px;
      width: 20px;
    }
  }
}
